body {
    background: #fff;
    font-family: Menlo;
    margin: 0px;
}


canvas {
    background: white;
    /* width: 100%; //800px; */
    /* height: calc(100% - 10px) */
    /* position: relative; */
    /* float: left; */
}

$overlay-margin: 15px;
$overlay-background: rgba(200,200,200, 0.2);
#sidebar {
  $width: 250px;
  position: absolute;
  /* background: $overlay-background; */
    /* float: right; */
      /* left: 80%; */
  top: $overlay-margin;
      /* margin: 10px; */
  width: $width;
  /* height: 200px; */
  left: calc(100% - #{$width} - #{$overlay-margin});
  p {
      margin: 0px;
      font-size: 12px;
      /* padding: 0px; */
      
  }

  h4 {
      margin: 0px;
      font-size: 15px;
  }

  div.sidebar-container {
      margin-bottom: 10px;
      background: $overlay-background;
  }
  /* padding: 5px; */

  table {
      font-size: 14px;
  }

}


#thanks {
    $height: 10px;
    position: absolute;
    top: calc(100% - #{$height});
    height: $height;
    font-size: $height;
    color: #555;
    background: #fff;
    
}

$selected-colour: rgba(88,247,179, 0.8); //#7ea;

.selected {
    background: $selected-colour !important;
}

.button {
    width: 24px;
    height: 24px;
    margin: 0px;
    padding: 5px;
    background: $overlay-background;
}
.button:hover {
    cursor: pointer;
}


.tool {
    display: block;
}

#toolbar {
    position: absolute;
    top: $overlay-margin*4;
    left: $overlay-margin;    
}

#actionbar {
    position: absolute;
    top: $overlay-margin;
    left: $overlay-margin*10;
}

.action {
    margin: -5px;
}



#messages {
  display: none;
    height: 250px;

    p {
        margin: 2px;
    }
}

.grabbable {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

 /* (Optional) Apply a "closed-hand" cursor during drag operation. */
.grabbable:active { 
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

input[type="file"] {
    /* visibility: hidden; */
    display: none;
    /* opacity: 0; */
}

#shapes {
  $titlesize: 16px;

  height: 500px;
  overflow-y: scroll;
  
  li {
    list-style: none;
  }

  .shape {
    border-left: 5px solid rgba(0,0,0,0);
  }

  .selected {
      border-left: 5px solid $selected-colour !important;
      background: none !important;
  }
  

  span {
    font-size: $titlesize;
  }

  .shape-details {
    display: none;
    font-size: 12px;
  }

  input {
    font-family: Menlo;
    font-size: $titlesize - 2px;
  }

  .title form {
    display: inline;

    input {
      display: none;
    }
  }
}



$arrow-width: 5px;
$arrow-height: 8px;
$arrow-colour: #444;

.arrow {
  display: inline-block;
  width: 0; 
  height: 0;
  margin: 1px;
  margin-left: 6px;
   margin-right: 5px;
  border-top: $arrow-width solid transparent;
  border-bottom: $arrow-width solid transparent;	
  border-left: $arrow-height solid $arrow-colour;
}

.arrow-down {
  @extend .arrow;
  border-left: $arrow-width solid transparent;
  border-right: $arrow-width solid transparent;	
  border-top: $arrow-height solid $arrow-colour;
  margin-bottom: -4px;
  margin-left: 4px;
}

/* .shape { */
/*   background: #fff; */
/* } */
  
.shape-details {
  margin: 5px;
//  background: #f00;
}
