body {
    background: #fff;
    font-family: Menlo;
    margin: 0px;
}


canvas {
    background: white;
    /* width: 100%; //800px; */
    /* height: calc(100% - 10px) */
    /* position: relative; */
    /* float: left; */
}


#sidebar {
  $width: 250px;
  $margin: 25px;
  position: absolute;
  background: rgba(0,0,0,0.2);
    /* float: right; */
      /* left: 80%; */
  top: $margin;
      /* margin: 10px; */
  width: $width;
  height: 200px;
  left: calc(100% - #{$width} - #{$margin});
  /* padding: 5px; */
}

#thanks {
    $height: 10px;
    position: absolute;
    top: calc(100% - #{$height});
    height: $height;
    font-size: $height;
    color: #555;
    background: #fff;
}


#messages {
  display: none;
    height: 250px;

    p {
        margin: 2px;
    }
}

.grabbable {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

 /* (Optional) Apply a "closed-hand" cursor during drag operation. */
.grabbable:active { 
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

input[type="file"] {

    /* opacity: 0; */
}

#shapes {
  $titlesize: 16px;
  li {
    list-style: none;
  }

  .shape {
    border-left: 4px solid #fff;
  }

  span {
    font-size: $titlesize;
  }

  .shape-details {
    display: none;
    font-size: 12px;
  }

  input {
    font-family: Menlo;
    font-size: $titlesize - 2px;
  }

  .title form {
    display: inline;

    input {
      display: none;
    }
  }
}



$arrow-width: 5px;
$arrow-height: 8px;
$arrow-colour: #444;

.arrow {
  display: inline-block;
  width: 0; 
  height: 0;
  margin: 1px;
  margin-left: 6px;
//  /* margin-right: 5px;
  border-top: $arrow-width solid transparent;
  border-bottom: $arrow-width solid transparent;	
  border-left: $arrow-height solid $arrow-colour;
}

.arrow-down {
  @extend .arrow;
  border-left: $arrow-width solid transparent;
  border-right: $arrow-width solid transparent;	
  border-top: $arrow-height solid $arrow-colour;
  margin-bottom: -4px;
  margin-left: 4px;
}

.shape {
  background: #fff;
}
  
.shape-details {
  margin: 5px;
//  background: #f00;
}
